:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gridContainer {
    display: flex;
    width: 1200px;
    justify-content: space-around;
}
.humanContainer, .computerContainer {
    display: grid;
    grid-gap: 1px;
    column-gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    max-width: 1000px;
    min-width: 500px;
}
  
.humanContainer .shipPresent {
    background-color: green;
}
.grid-item {
    height: 40px;
    background-color: gray;
    text-align: center;
}

.hit {
    filter:brightness(70%);
    pointer-events: none;
    background-color: gray;
}

.hit:after{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
    color: red;
    line-height:40px;
    font-size: 3em;
    text-align: center;
    
}

.grid-item:hover {
    filter: brightness(85%)
}
.miss {
    background-color: blue;
}

.sunken {
    background-color: red;
}